.u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.55), rgba(0,0,0,0.55)), url("images/5b1bb3f7356d12805342bc7afeed853dca73fe2b43ecc91510411fa8d45a88859bc46b60b06c368adc6b6ffbaa00e885f82c7b1a834dadddbf9a4c_1280.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 671px;
}

.u-section-1 .u-text-1 {
  font-size: 6rem;
  letter-spacing: 1px;
  animation-duration: 1000ms;
  margin: 489px auto 60px 58px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 553px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 424px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 318px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.75rem;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 200px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 81px;
}

.u-section-2 .u-line-1 {
  width: 912px;
  height: 0;
  margin: 39px auto;
}

@media (max-width: 991px) {
  .u-section-2 .u-line-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-line-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-line-1 {
    width: 340px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 591px;
}

.u-section-3 .u-table-1 {
  width: 1108px;
  margin: 30px auto 22px;
}

.u-section-3 .u-table-header-1 {
  background-image: none;
}

.u-block-1323-67 {
  height: 46px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-table-1 {
    width: 940px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-table-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-table-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-table-1 {
    width: 340px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 463px;
}

.u-section-4 .u-text-1 {
  animation-duration: 1000ms;
  margin: 40px 729px 0 0;
}

.u-section-4 .u-text-2 {
  animation-duration: 1000ms;
  margin: 23px 0 60px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-text-1 {
    margin-right: 529px;
  }

  .u-section-4 .u-text-2 {
    font-weight: normal;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-text-1 {
    margin-right: 309px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-text-1 {
    margin-right: 129px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-text-1 {
    margin-right: 0;
  }
}