.u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.55), rgba(0,0,0,0.55)), url("images/6d9bf589b0b6ec0e059dc4f8e02648839501defee6df06709ec61567130204aab2e7c5c624508432a19528134ad8954dbf2ea9f22b365fbce3e06a_1280.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 671px;
}

.u-section-1 .u-text-1 {
  font-size: 6rem;
  letter-spacing: 1px;
  animation-duration: 1000ms;
  margin: 447px 0 60px auto;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 553px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 424px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 318px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.75rem;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 200px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
  }
}.u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 444px;
}

.u-section-2 .u-text-1 {
  font-size: 6rem;
  animation-duration: 1000ms;
  margin: 60px 400px 0 49px;
}

.u-section-2 .u-text-2 {
  font-size: 3.75rem;
  animation-duration: 1000ms;
  margin: 0 104px 60px 37px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-1 {
    margin-right: 249px;
    margin-left: 0;
  }

  .u-section-2 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-1 {
    margin-right: 29px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-1 {
    margin-right: 0;
    font-size: 3.75rem;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-2 .u-text-2 {
    font-size: 1.5rem;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 362px;
}

.u-section-3 .u-image-1 {
  height: 249px;
  width: 1068px;
  animation-duration: 1000ms;
  margin: 41px auto 0 0;
}

.u-section-3 .u-text-1 {
  animation-duration: 1000ms;
  margin: 0 89px 41px 49px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 332px;
  }

  .u-section-3 .u-image-1 {
    width: 940px;
    height: 219px;
  }

  .u-section-3 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 281px;
  }

  .u-section-3 .u-image-1 {
    width: 720px;
    height: 168px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 239px;
  }

  .u-section-3 .u-image-1 {
    width: 540px;
    height: 126px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 192px;
  }

  .u-section-3 .u-image-1 {
    width: 340px;
    height: 79px;
  }
}.u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 444px;
}

.u-section-4 .u-text-1 {
  font-size: 6rem;
  animation-duration: 1000ms;
  margin: 104px 400px 0 49px;
}

.u-section-4 .u-text-2 {
  font-size: 3.75rem;
  animation-duration: 1000ms;
  margin: 0 103px 60px 49px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-text-1 {
    margin-right: 249px;
    margin-left: 0;
  }

  .u-section-4 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-text-1 {
    margin-right: 29px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-text-1 {
    margin-right: 0;
    font-size: 3.75rem;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-4 .u-text-2 {
    font-size: 1.5rem;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 714px;
}

.u-section-5 .u-image-1 {
  height: 632px;
  width: 1051px;
  animation-duration: 1000ms;
  margin: 41px auto 0 0;
}

.u-section-5 .u-text-1 {
  margin: -16px 98px 25px 41px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 647px;
  }

  .u-section-5 .u-image-1 {
    width: 940px;
    height: 565px;
  }

  .u-section-5 .u-text-1 {
    margin-top: 51px;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 515px;
  }

  .u-section-5 .u-image-1 {
    width: 720px;
    height: 433px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 407px;
  }

  .u-section-5 .u-image-1 {
    width: 540px;
    height: 325px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 287px;
  }

  .u-section-5 .u-image-1 {
    width: 340px;
    height: 205px;
  }
}.u-section-6 {
  background-image: none;
}

.u-section-6 .u-sheet-1 {
  min-height: 444px;
}

.u-section-6 .u-text-1 {
  font-size: 6rem;
  animation-duration: 1000ms;
  margin: 104px 400px 0 49px;
}

.u-section-6 .u-text-2 {
  font-size: 3.75rem;
  animation-duration: 1000ms;
  margin: 0 103px 60px 49px;
}

@media (max-width: 1199px) {
  .u-section-6 .u-text-1 {
    margin-right: 249px;
    margin-left: 0;
  }

  .u-section-6 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-text-1 {
    margin-right: 29px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-text-1 {
    margin-right: 0;
    font-size: 3.75rem;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-6 .u-text-2 {
    font-size: 1.5rem;
  }
}.u-section-7 .u-sheet-1 {
  min-height: 618px;
}

.u-section-7 .u-image-1 {
  height: 424px;
  width: 1002px;
  animation-duration: 1000ms;
  margin: 32px auto 0;
}

.u-section-7 .u-text-1 {
  animation-duration: 1000ms;
  margin: 16px 70px 50px;
}

@media (max-width: 1199px) {
  .u-section-7 .u-sheet-1 {
    min-height: 592px;
  }

  .u-section-7 .u-image-1 {
    width: 940px;
    height: 398px;
  }

  .u-section-7 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-sheet-1 {
    min-height: 499px;
  }

  .u-section-7 .u-image-1 {
    width: 720px;
    height: 305px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-sheet-1 {
    min-height: 423px;
  }

  .u-section-7 .u-image-1 {
    width: 540px;
    height: 229px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-sheet-1 {
    min-height: 338px;
  }

  .u-section-7 .u-image-1 {
    width: 340px;
    height: 144px;
  }
}